/* General styles, mobile first */
* {
	box-sizing:border-box;
}

body {
	font-size:100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:#333;
	background-color: white;
	margin: 0;
	padding: 0;
}


h1 {
	font-family: "HelveticaNeue-Bold";
}

a {
	font-weight:bold;
	color:#0fa000;
	-webkit-transition:all .5s ease;
}
a:hover {
	color:#ffb400;
	background-color: #f4f4f4;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
	ul li {
		
	}
		ul li a {
			display:block;
			border-color:#333;
			border-style:solid;
			border-width:1px 0 0;
			background-color: #f5f5f5;
			line-height:2;
			text-decoration: none;
			padding:0 2%;
		}
			ul li a strong {
				display:block;
				font-weight:normal;
				color:#333;
			}
		ul li:last-child a {
			border-bottom-width:1px;
		}

		ul li a:hover {
			background-color: #eee;
		}

section img, video {
	max-width: 100%;
	border:10px solid #eee;
	box-shadow:0 0 5px #aaa;
	border-radius: 5px;
	margin-bottom: 1em;
}

#changescore {
	width: 6em;
	height: 4em;
	box-shadow: 0 0 0;
	border-radius: 0;
	border: 0;
	float: right;
	text-align: right;
	position: relative;
}

.show {
	display: block;
}

.hide {
	display: none;
}

th {
	text-align: left;
}

td:nth-of-type(1) {
	width: 20em;
}

td {
	width: 4em;
}

article > section:nth-of-type(2) > section > section > input {
	width: 5em;
	font-size: 1.5em;
	text-align: right;
}

input:nth-of-type(2) {
	text-align: left;
}

video {
	width:100%;
}
figure {
	margin:0;
}
figcaption {
	font-size:.8em;
	color:#666;
	font-style: italic;
}

/* header section */
header {
	position:relative;
	padding:.5em .5em;
	background-color: green;
}
	header h1 {
		font-family: "HelveticaNeue-Light";
		color:#000;
		font-size: 1.6em;
		width: 100%;
		text-align: center;
		padding-top: 1em;
	}

/* Content section */
article#content {
	clear:left;
	margin: 0;
}
	article > section {
		display:none;
	}
	article > section.active {
		display:block;
	}
	article h1 {
		margin-bottom: .5em;
	}

	article ul {
		list-style: none;
		margin-bottom:3em;
	}

article > section:nth-of-type(1) > section {
	margin: 0;
}

article > section:nth-of-type(1) > section > section > h1:nth-of-type(1) {
	font-size: 3em;
	width: 100%;
	text-align: center;
	background-color: white;
}

article > section:nth-of-type(1) > section > section > label:nth-of-type(1) {
	padding-left: 5%;
}

article > section > section > section > h1:nth-of-type(2) {
	color: rgba(255, 255, 255, 1);
	background-color: #259433;
	font-size: 1em;
}

article > section:nth-of-type(1) > section > section {
	padding-bottom: 3em;
	width: 100%;
	text-align: center;
}

article > section:nth-of-type(1) > section > section:nth-of-type(even) {
	background-color: rgba(220, 240, 220, 1);
}

article > section:nth-of-type(1) > section > section > label:nth-of-type(2), article > section:nth-of-type(1) > section > section > label:nth-of-type(4) {
	font-weight: bold;
}

article > section:nth-of-type(2) > section > section {
	padding-top: 2em;
	text-align: center;
}

article > section:nth-of-type(2) > section > section > label {
	font-size: 1.5em;
}

article > section:nth-of-type(2) > section > section > label:nth-of-type(1) {
	padding-right: 1em;
}

article > section:nth-of-type(2) > section > section > label:nth-of-type(3) {
	padding-left: 1em;
}

article > section:nth-of-type(2) > section > section > p:nth-of-type(1) > label:nth-of-type(1) {
	padding-right: 2em;
}

article > section:nth-of-type(3) > section > h1 {
	font-size: 2em;
}

/* Spinner! */
#spinner.spin {
	height:60px;
	width:60px;
	margin:0px auto;
	margin-top: 1em;
	display: block;
	position:relative;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(0,239,0,.15);
	border-right:6px solid rgba(0,239,0,.15);
	border-bottom:6px solid rgba(0,239,0,.15);
	border-top:6px solid rgba(0,239,0,.8);
	border-radius:100%;
	}

	@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
	}

	@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
	}

	@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
	}

	@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}



/* Aside */
aside {
	text-align: center;
}
	aside h1 {
		font-size:1.2em
	}
	aside img {
		margin-bottom:1em;
	}

/* Dead Simple Grid (c) 2012 Vladimir Agafonkin */

.col {
	padding: 0 .5em;
}
.row .row {
	margin: 0 -.5em;
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

@media only screen {
	.col {
		float: left;
		width: 100%;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
	.col {
		width:50%;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	nav {
		position:relative;
		padding:.2em;
	}
		nav ul li {
			display:inline-block;
			margin-right:.3em;
		}

		nav ul li:nth-of-type(2) {
			float: right;
		}
			nav ul li a {
				font-weight: normal;
				display: inline-block;
				background: rgba(6, 97, 1, 1);
				padding:5px 10px;
				color: #fff;
				text-decoration: none;
				border-radius: 5px;
				-webkit-transition:all .2s ease;
				border:none;
			}
			nav ul li a:hover {
				background:#e0e0e0;
				box-shadow:0 0 5px #aaa;
				color:#333;
			}

	.col {
		width:100%;
	}
	aside {
		text-align:left;
	}
		aside img {
			float:left;
			width:25%;
			margin-right:3%;
		}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}